.ui-page-theme-a{
  background-color: #FFF!important;
}
.ui-bar-inherit {
    background-color: #FFAB91!important;
    padding: 3px;
    border-color: #FF8A65;
}
[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;}

.center {
  margin: auto;
  width: 50%;
  text-align:center;
}

#landing-page > h1 > img {
  width: 70%;
  height: auto;
  margin-top: 20px;
}

#landing-page > .ui-body p.p-greeting {
  text-align: center;
  font-weight: bold;
}

#landing-form > button {
  background: none;
  border: 0;
  box-shadow: none;
  color: #CCC;
}
#start-page > h1 {
  margin-top: 60px;
}
#start-form > button.lil-start {
  background: none;
  border: 0;
  box-shadow: none;
}
#start-form > button > img {
  width: 70%;
  height: auto;
}
#sections-page > div > a.btn-home {

}
#reading-form > button {
  background-color: #8BC34A;
  border: 0;
  box-shadow: none;
  color: #000;
  height: 80px;
}
#numbers-form > button {
  background-color: #03A9F4;
  border: 0;
  box-shadow: none;
  color: #000;
  height: 80px;
}
#modules-page > #content-body > ul {
list-style: none;
padding: 0;
margin: 0;
}

#modules-page > #content-body > ul > li > a {
  background-color: #FFEB3B;
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  border-radius: 8px;
  height: 50px;
}
#modules-page > .header {
  background-color: #FFAB91!important;
  padding: 3px;
  text-align: center;
}
#modules-page > .footer {
  background-color: #FFAB91!important;
  padding: 3px;
}
