.ui-page-theme-a{
  background-color: #FFF!important;
}

.center {
  margin: auto;
  width: 50%;
}

#landing-page > h1 > img {
  width: 70%;
  height: auto;
  margin-top: 20px;
}

.p-greeting {
  text-align: center;
  font-weight: bold;
}
